/* {outline: 1px solid red;}
*/
body
{
	background-image: url('https://static.pexels.com/photos/164642/pexels-photo-164642.jpeg');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: top;
	color: #000;
	margin: 0;
}

.display-cell {
	outline: 1px solid red;
	height: 90px;
}

.klawisz
{
	background: #444;
	border: 3px solid #222;
	border-radius: 10px;
	text-align: center;
	margin: 1.4%;
	font-size: 40px;
	padding: 3%;
}

.klawisz:hover {
	cursor: pointer;
	border: 3px solid #aaa;
	color: #aaa;	
}

.right-space {
	margin-right: 4%;
}

.klawisz:active
{
	border: 3px solid #eee;
	cursor: pointer;
	color: #eee;
	box-shadow: 2px 0 2px 2px;
}

.container
{
	max-width: 1200px;
	margin-left: auto;
	margin-right: auto;
}

.row:after,
.row:before {
	content: "";
	display: table;
	clear: both;
}

.row {
	
}

[class*="col"] {
	float: left;
	box-sizing: border-box;
	min-height: 1px;
}

.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}	

.device
{
	width: 50%;
	border: 3px solid #222;
	margin-left: auto;
	margin-right: auto;
	border-radius: 30px;
	box-shadow: 0px 0px 2px 5px black;
	background-color: #666;
	font-family: Monospace;
	margin-top: 50px;
	margin-bottom: 50px;
	padding: 2%;
}

#out
{
	width: 95%;
	background: #888;
	border: 3px solid #222;
	margin-left: auto;
	margin-right: auto;
	margin-top: 10px;
	margin-bottom: 20px;
	border-radius: 20px;
	font-size: 80px;
	text-align: right;
	padding: 1%;
}

.in
{
	margin-left: auto;
	margin-right: auto;
	margin-top: 40px;
}

@media (max-width: 767px) {
	.klawisz {
 		font-size: 20px;
 	}

 	#out {
 		font-size: 40px;
 	}
}
